{% extends 'base.html.twig' %}

{% block title %}New Tax Number{% endblock %}

{% block body %}
    <h1>Create new Tax Number</h1>

    {{ include('common/_form.html.twig') }}

    <a href="{{ path('app_tax_number_index') }}">back to list</a>
{% endblock %}
